.container{
    height: 100vh;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.box{
    height: 150px;
    width: 260px;
    background-color: cadetblue;
    border: 1px solid black;
}
.links{
    height: 150px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.links button{
    height: 50px;
    width: 100px;
    border: none;
    background-color: coral;
}
.links button a{
    text-decoration: none;
    color: cornsilk;
    font-size: 16px;
}


/* responsive */
@media (max-width:768px) {
    .container{
        height: auto;
        width: 100%;
        gap: 5px;

    }
    
}
